<div class="container">
  <h1 class="mt-3">Add Blog Post</h1>

  <form #form="ngForm" (ngSubmit)="onFormSubmit()">
    <div class="mt-2">
      <div class="mt-3">
        <label class="form-label">Title</label>
        <input
          [(ngModel)]="model.title"
          class="form-control"
          id="title"
          name="title"
          type="text"
        >
      </div>

      <div class="mt-3">
        <label class="form-label">Short description</label>
        <input
          [(ngModel)]="model.shortDescription"
          class="form-control"
          id="shortDescription"
          name="shortDescription"
          type="text"
        >
      </div>

      <div class="mt-3">
        <label class="form-label">Url handle</label>
        <input
          [(ngModel)]="model.urlHandle"
          class="form-control"
          id="urlHandle"
          name="urlHandle"
          type="text"
        >
      </div>

      <div class="mt-3">
        <label class="form-label">Content</label>
        <textarea
          [(ngModel)]="model.content"
          class="form-control"
          id="content"
          name="content"
        >
          </textarea>
      </div>

      <div class="mt-3">
        <label class="form-label">Featured Image Url</label>
        <input
          [(ngModel)]="model.featuredImageUrl"
          class="form-control"
          id="featuredImageUrl"
          name="featuredImageUrl"
          type="text"
        >
      </div>

      <div class="mt-3">
        <label class="form-label">Published date</label>
        <input
          [ngModel]="model.publishedOn | date: 'yyyy-MM-dd'"
          class="form-control"
          id="publishedDate"
          name="publishedDate"
          value="{{model.publishedOn}}"
          (ngModelChange)="model.publishedOn = $event"
          type="date"
        >
      </div>

      <div class="mt-3">
        <label class="form-label">Author</label>
        <input
          [(ngModel)]="model.author"
          class="form-control"
          id="author"
          name="author"
          type="text"
        >
      </div>

      <div class="form-check mt-3">
        <input
          [(ngModel)]="model.isPublished"
          [ngModelOptions]="{standalone: true}"
          class="form-check-input"
          id="isVisible"
          name="isVisible"
          type="checkbox"
        >
        <label class="form-check-label" for="isVisible">
          Is visible?
        </label>
      </div>

      <div class="mt-3">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </div>
  </form>

</div>
